/*RESET*/

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }

  body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}